.wizard-details {
  border: 1px solid #1a0101; 
  margin: 7px;
  padding: 10px;
  width: calc(25% - 20px);
  float: left;
  box-sizing: border-box;
  text-align: center;
  background: url('../../images/oldBookPage.jpg');
  border-radius: 6px;
}
.wizard-details h2 {
  font-size: 18px;
  margin: 2px 10px;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.wizard-details img {
  max-width: 85%; 
  max-height: 85%;
}
#h1 {
  text-align: center;
  font-size: 60px;
  padding: 5px;
}